body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(300deg, #d3d014, #620ca4, #6708b5);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#billboard {
    height: 100vh;
    
}

span {
    font-size: 2rem;
    font-weight: bold;
}





svg {
    color: white;
}

p {
    color: white;
}


  

  .contact {
    color: white;
    justify-content: space-around;
    
  }


  img {
    width: 100%;
    height: auto;
  }


 